In [1]:
import pandas as pd
import numpy as np

In [299]:

def read_acomph(path): 


   '''
   Input = Caminho do arquivo xls

   Output = Retorna um dataframe, contendo:
   Nome_Posto: Nome do posto
   Cod_Posto:	Código do posto
   Data_med:	Data da medição
   Vazão_Inc:	Vazão Incremental Consolidada
   Vazão_Nat:  Vazão Natural Consolidada

   A função passa em cada aba e dentro de cada aba passa e por cada tabela coletando as informações
   para gerar um novo dataframe final, contendo todas as tabelas de todas as abas, conforme solicitado no teste_junior.

   '''

   df_all_sheets = pd.read_excel(path, sheet_name=None) #Recebe todas as abas

   total_sheets = len(df_all_sheets.keys())  #Conta o número de abas e guarda em Total_sheets.

   df_total = [] #lista com os dataframes gerados após cada looping de tabela dentro de cada looping das abas

   for i in range(total_sheets):      #looping para passar em cada  aba
    
      df = pd.read_excel(path, sheet_name= i)  #cria dataframe da aba i, no looping
   
      df["Data_med"] = df.loc[:,df.columns[0]] #Separando a data de medição da aba

      num_tabelas = (df.shape[1]-1)//8   #Armazena o numero de tabelas na aba do looping em andamento

      
      for j in range((num_tabelas)): #Looping para cada tabela dentro da aba i

         
         df1 = df.copy()
         
         df1 = df1.iloc[:, 0:9] #Separando em mini df's de 8 colunas e a data, representando uma tabela da aba
         

         df1["Nome_Posto"] = df1.iloc[0,1] #Preenchendo a coluna com o nome do posto
         df1["Cod_Posto"] = df.columns[8]   #Buscando o numero do código do posto e preechendo a coluna com ele
         df1["Vazão_Nat"] = df1.loc[:,df.columns[8]] #Busca os valores de vazão natural consolidado e preenche a coluna
         df1["Vazão_Inc"] = df1.loc[:,df.columns[7]] #Busca os valores de vazão incremental consolidado e preenche a coluna
         
         df1 = pd.concat([df1["Nome_Posto"],df1["Cod_Posto"],df["Data_med"],df1["Vazão_Inc"], df1["Vazão_Nat"]], axis=1) 

         df1 = df1.dropna().reset_index(drop=True) #dropa as linhas com valores nulos no df1 gerado e reseta o index

         df_total.append(df1) 

         df = df.drop(df.columns[1:9], axis=1) #retirando as colunas usadas no looping
        


   df_completo = pd.concat(df_total,  ignore_index=True)   #concatenando todos os df criados 

   df_completo["Vazão_Nat"] = df_completo["Vazão_Nat"].astype(float)   

   df_completo["Vazão_Inc"] = df_completo["Vazão_Inc"].astype(float)

   df_completo["Data_med"] = pd.to_datetime(df_completo["Data_med"])

   
   return df_completo

In [300]:
path = r"C:\Users\angel\Desktop\Data science\GitHub\GitHub\Teste\ACOMPH_12.05.2020.xls"

df_completo =read_acomph(r"C:\Users\angel\Desktop\Data science\GitHub\GitHub\Teste\ACOMPH_12.05.2020.xls")

In [281]:
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4440 entries, 0 to 4439
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Nome_Posto  4440 non-null   object
 1   Cod_Posto   4440 non-null   int64
 2   Data_med    4440 non-null   datetime64[ns]
 3   Vazão_Inc   4440 non-null   float64
 4   Vazão_Nat   4440 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 173.6+ KB

In [301]:
df_completo

          Nome_Posto  Cod_Posto   Data_med   Vazão_Inc    Vazão_Nat
0           CAMARGOS          1 2020-04-12   99.500744    99.500744
1           CAMARGOS          1 2020-04-13  103.384070   103.384070
2           CAMARGOS          1 2020-04-14   98.105370    98.105370
3           CAMARGOS          1 2020-04-15   92.843218    92.843218
4           CAMARGOS          1 2020-04-16   90.778331    90.778331
...              ...        ...        ...         ...          ...
4435  FERREIRA GOMES        297 2020-05-07   21.233120  2648.110363
4436  FERREIRA GOMES        297 2020-05-08   21.609783  2693.523743
4437  FERREIRA GOMES        297 2020-05-09   22.359190  2779.754411
4438  FERREIRA GOMES        297 2020-05-10   22.927269  2854.030427
4439  FERREIRA GOMES        297 2020-05-11   23.285031  2903.065788

[4440 rows x 5 columns]